<!doctype html>
{% load static i18n %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Favicon-->
	<link rel="icon" type="image/svg" href="assets/img/root/favicon.svg">
	<!--Framework-->
	<link rel="stylesheet" href="{% static 'assets/css/framework/bootstrap.min.css' %}">
	<!--Fonts-->
	<link rel="stylesheet" href="{% static 'assets/fonts/Swansea/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/fonts/Skape/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/fonts/Socicons/socicon.css' %}">
	<!--Plugins-->
	<link rel="stylesheet" href="{% static 'assets/css/vlt-plugins.min.css' %}">
	<!--Style-->
	<link rel="stylesheet" href="{% static 'assets/css/vlt-main.min.css' %}">
	<!--Custom-->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">


    {% block css%}
    {% endblock%}

    {% block seo %}

    {% endblock %}
</head>

<body>







{% block content %}



{% endblock %}




    <script src="{% static 'assets/vendors/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'assets/scripts/vlt-plugins.min.js' %}"></script>
	<script src="{% static 'assets/scripts/vlt-helpers.js' %}"></script>
	<script src="{% static 'assets/scripts/vlt-controllers.min.js' %}"></script>

{% block jss %}

{% endblock %}




</body>
</html>